<div class="head">

  <div class="top d-flex justify-content-between align-items-center w-100 container">
    <div class="d-flex align-items-center">
      <h3>Интернационал</h3>
      <h4>Клуб единоборств в Москве</h4>
    </div>
    <a href="tel:+74955077479">+7 (495) 507-74-79</a>
    
  </div>
  <div class="left">
    <p>Быстрее. Выше. Сильнее.</p>
    <h5>Опытные тренеры. Уникальое оборудование.<br><span style="color:rgb(223, 72, 46)">Эксклюзивные программы.</span></h5>
    <button class="btn" (click)="showSections()">Записаться</button>
  </div>
  
</div>