<div class="sections my-4" #sections>
  <div class="container d-flex flex-wrap align-items-center justify-content-between">
    <div class="card" style="width: 18rem;" *ngFor="let s of ss.sections">
      <img src="{{s.Image}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{s.Name}}</h5>
        
        <a routerLink="/section/{{s.SectionId}}" class="btn btn-primary">Подробнее</a>
        <a routerLink="/update-section/{{s.SectionId}}" class="btn btn-link">Изменить</a>
      </div>
    </div>
    
  </div>
</div>


