<div class="sections my-4">
  <div class="container d-flex flex-wrap align-items-center justify-content-between">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/images/box.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
  </div>
</div>
